body {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 60%;
	/*border: 0.3em gray solid;*/
}

a {
	color: #999999;
}

p {
	line-height: 20px;
	color: #626477;
	text-align: justify;
}


h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

img {
	border: 0px;
}

ul, li {
	padding: 0;
	margin: 0;
	color: #626477;
}



/*Main Navigation */
.main-nav {
position: absolute;
top: 0;
left: 0;
width: 100%;
background: #96b97d;
border-bottom: 1px solid #738b61;
padding-left: 1em;
}
.main-nav ul {
list-style-type: none;
padding: .3em;
margin: 0;
}
.main-nav li {
float: left;
margin-right: 1em;
}
.main-nav li a {
display: block;
padding: 0.625em;
background: #96b97d;
color: white;
text-decoration: none;
}
.main-nav li a:hover {
color: gray;
}
.main-nav li ul {
display: none;
position: absolute;
padding: 0;
}
.main-nav li:hover ul {
display: block;
}

.main-nav ul ul {
    position: absolute; top: 100%;
    display: none;
    border: 1px solid #738b61;
}

.main-nav li ul ul {
	float: none;
	border-top: 5px solid #738b61;
	border-bottom: 5px solid #738b61;
	position: relative;
}

.main-nav li:hover ul ul {
display: block;
}




/* FOOTER */
footer {
 	position: absolute;
 	overflow: hidden;
 	clear: both;
	left: 0;

	padding-left: 21em;
	width: 100%;
	background: #96b97d;
	font-size: 75%
}

footer p {
	color: white;
}

figcaption {
	padding: 0px;
	font-size: 0.6em;
	border: none;
	background: transparent;
	word-wrap:normal;
}
